<div class="row mt-3">
  <div class="col">
    <h4>User List</h4>
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users" [class.table-primary]="user.id === selectedUser.id" style="cursor: pointer;" (click)="selectUser(user)">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email|lowercase}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <button type="button" class="btn btn-primary" (click)="newUser()">New</button>
  </div>
</div>
<app-user-details [user]="selectedUser" (userChanged)="userChanged()"></app-user-details>
