<div class="row mt-3">
  <div class="col">
    <h4>User Group List</h4>
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <table class="table table-bordered" style="table-layout: fixed;">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let userGroup of userGroups" [class.table-primary]="userGroup.id === selectedUserGroup.id" style="cursor: pointer;" (click)="selectUserGroup(userGroup)">
          <td>{{userGroup.id}}</td>
          <td>{{userGroup.name}}</td>
          <td>{{userGroup.email|lowercase}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <button type="button" class="btn btn-primary" (click)="newUserGroup()">New</button>
  </div>
</div>
<app-user-group-details [userGroup]="selectedUserGroup" (userGroupChanged)="userGroupChanged()"></app-user-group-details>
